In [1]:
import pandas as pd

### Задание 1
Загрузим данные:

In [470]:
f = open('name.txt')

In [471]:
lines = [line.strip(',') for line in open ('name.txt')]

In [472]:
a = [i.strip('"') for i in lines[0].split(",")]

In [473]:
a[:10]

['MARY',
 'PATRICIA',
 'LINDA',
 'BARBARA',
 'ELIZABETH',
 'JENNIFER',
 'MARIA',
 'SUSAN',
 'MARGARET',
 'DOROTHY']

1) Отсортировать все имена в лексикографическом порядке

In [474]:
sort_list = sorted(a)

In [476]:
sort_list[:10]

['AARON',
 'ABBEY',
 'ABBIE',
 'ABBY',
 'ABDUL',
 'ABE',
 'ABEL',
 'ABIGAIL',
 'ABRAHAM',
 'ABRAM']

2) Посчитать для каждого имени алфавитную сумму – сумму порядковых номеров букв (MAY: 13 + 1 + 25 = 39)

In [477]:
import string

In [478]:
alph = list(string.ascii_letters.split("abcdefghijklmnopqrstuvwxyz")[-1])

In [479]:
alph[:10]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [480]:
list_lists = [list(i) for i in sort_list]

In [545]:
list_lists[:10]

[['A', 'A', 'R', 'O', 'N'],
 ['A', 'B', 'B', 'E', 'Y'],
 ['A', 'B', 'B', 'I', 'E'],
 ['A', 'B', 'B', 'Y'],
 ['A', 'B', 'D', 'U', 'L'],
 ['A', 'B', 'E'],
 ['A', 'B', 'E', 'L'],
 ['A', 'B', 'I', 'G', 'A', 'I', 'L'],
 ['A', 'B', 'R', 'A', 'H', 'A', 'M'],
 ['A', 'B', 'R', 'A', 'M']]

In [482]:
summa = 0
sum_list = []
for i in list_lists: 
    for m in i: 
        summa += int(alph.index(m)+1)
    sum_list.append(summa)
    summa = 0

In [484]:
sum_list[:10]

[49, 35, 19, 30, 40, 8, 20, 41, 44, 35]

3) Умножить алфавитную сумму каждого имени на порядковый номер имени в отсортированном списке (индексация начинается с 1). Например, если MAY находится на 63 месте в списке, то результат для него будет 63 * 39 = 2457.

In [485]:
sum_index = []
for i, n in enumerate(sort_list): 
    index = i+1
    sum_index.append(index*sum_list[i])

In [486]:
sum_index[:10]

[49, 70, 57, 120, 200, 48, 140, 328, 396, 350]

4) Просуммировать произведения из п. 3 для всех имен из файла и получить число. Это число и будет ответом.

In [487]:
sum(sum_index)

871853874

### Задание 2

In [488]:
lines = [line.strip(',') for line in open ('hits.txt')]

In [489]:
lines[:10]

['https://wikipedia.org\t72.110.191.15\t/friends/files\n',
 'rambler.ru\t142.93.168.247\t/universe.php\n',
 'ftp://info.itar-tass.com\t90.68.118.69\t/login/monitors/static/me\n',
 'http://altavista.com\t18.79.197.236\t/friends/tasks/universe\n',
 'ftp://tetrika-school.ru\t115.26.250.226\t/translate/anekdots/my-files/monday\n',
 'www.habr.com\t128.79.84.100\t/medium\n',
 '2ip.ru\t189.191.232.240\t/lesson/store/anekdots/img\n',
 'ftp://garant.ru\t74.125.206.96\t/logout/my-tutors\n',
 '2ip.ru\t148.64.151.25\t/img/posts/balance\n',
 'public.ru\t40.9.218.163\t/signin.php\n']

In [490]:
len(lines)

934439

``<host>\t<ip>\t<page>\n``

Нужно вывести 5 айпи-адресов, которые встречаются чаще других.

In [491]:
ips = []
for i in lines:
    a= i.split("\t")
    ips.append(a[1])

In [492]:
ips[:10]

['72.110.191.15',
 '142.93.168.247',
 '90.68.118.69',
 '18.79.197.236',
 '115.26.250.226',
 '128.79.84.100',
 '189.191.232.240',
 '74.125.206.96',
 '148.64.151.25',
 '40.9.218.163']

In [493]:
from collections import Counter

In [494]:
counter=Counter(ips)

In [495]:
print(counter.most_common(5))

[('154.157.157.156', 1161), ('238.244.2.48', 1135), ('194.78.107.33', 1131), ('82.146.232.163', 1120), ('226.247.119.128', 1119)]

### Задание 3

lessons.txt содержит следующие поля:
id – уникальный идентификатор урока.
event_id – идентификатор, связывающий уроки с файлом participants. У нескольких уроков может быть один и тот же event_id. Подробнее про это будет позже
subject – предмет урока, просто строка
scheduled_time – время начала урока, в формате ГГГГ-ММ-ДД чч:мм:сс (иногда есть еще миллисекунды). Время указано в UTC.

quality.txt содержит следующие поля:
lesson_id – идентификатор урока, указывает на запись в таблице lessons.txt. У нескольких строчек из этого файла может быть один и тот же lesson_id, потому что оценок за урок может быть несколько (например, оба участника, ученик и репетитор могут оценить качество урока)
tech_quality – собственно оценка качества урока. Это число от 1 до 5. Иногда его может не быть, если пользователь не выставил оценку.

users.txt хранит информацию о пользователях и содержит всего два поля:
id – уникальный идентификатор пользователя
role – указывает является ли пользователь учеником (pupil) или учителем (tutor)

Файл participants.txt позволяет связать урок с его участниками. Он содержит следующие поля:
user_id – идентификатор пользователя (указывает на запись в файле users.txt)
event_id – идентификатор, связывающий урок с участником. То есть, чтобы понять, какие пользователи были на уроке Х, нужно найти в файле participants.txt строки, у которых event_id совпадает с event_id урока Х.

In [496]:
f = open("lessons.txt")

In [497]:
l2 = [(row.strip("\n").strip(" ")).split("|") for row in f]

In [498]:
lessons = pd.DataFrame(columns=['id', 'event_id', 'subject', 'scheduled_time'])

In [499]:
lessons

Empty DataFrame
Columns: [id, event_id, subject, scheduled_time]
Index: []

In [500]:
for row in range(len(l2[2:-2])):
#     print(row+2)
    lessons.loc[row] = l2[row+2]

In [502]:
lessons.head()

,id,event_id,subject,scheduled_time
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00
1,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568,it,2020-01-19 13:00:00
2,62e1a078-33de-47c1-99d2-845b1daca56f,52790,hist,2020-01-19 13:00:00
3,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00
4,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00

In [503]:
f = open("users.txt")
l3 = [(row.strip("\n").strip(" ")).split("|") for row in f]

In [504]:
l3[:10]

[['id                  ', ' role'],
 ['--------------------------------------+-------'],
 ['e28351f5-4ccb-4549-8647-d43f2b15e7b8 ', ' pupil'],
 ['4df2832a-1d63-4453-9659-43993fc35996 ', ' tutor'],
 ['bb1c0bc8-1212-452b-97a0-439d4a2169e2 ', ' pupil'],
 ['63441abe-c4da-4275-ba26-66f7dbd65dde ', ' tutor'],
 ['a1323b68-c82c-429a-8e2c-65597e648c1a ', ' tutor'],
 ['e866fbd8-a46b-4431-9e19-f0966981f6c9 ', ' pupil'],
 ['4ab072ed-8a41-4ed6-9877-8f1d1fbb24d2 ', ' pupil'],
 ['30a19496-bdaf-461c-abbc-2709ae520201 ', ' tutor']]

In [505]:
users = pd.DataFrame(columns=['id', 'role'])
users

Empty DataFrame
Columns: [id, role]
Index: []

In [506]:
for row in range(len(l3[2:-2])):
#     print(row+2)
    users.loc[row] = l3[row+2]

In [507]:
users.head()

                                      id    role
0  e28351f5-4ccb-4549-8647-d43f2b15e7b8    pupil
1  4df2832a-1d63-4453-9659-43993fc35996    tutor
2  bb1c0bc8-1212-452b-97a0-439d4a2169e2    pupil
3  63441abe-c4da-4275-ba26-66f7dbd65dde    tutor
4  a1323b68-c82c-429a-8e2c-65597e648c1a    tutor

In [508]:
f = open("quality.txt")
l4 = [(row.strip("\n").strip(" ")).split("|") for row in f]

In [509]:
quality = pd.DataFrame(columns=['lesson_id', 'tech_quality'])
quality

Empty DataFrame
Columns: [lesson_id, tech_quality]
Index: []

In [510]:
for row in range(len(l4[2:-2])):
#     print(row+2)
    quality.loc[row] = l4[row+2]

In [511]:
quality.head()

                               lesson_id   tech_quality
0  6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a               5
1  62e1a078-33de-47c1-99d2-845b1daca56f               5
2  62e1a078-33de-47c1-99d2-845b1daca56f               5
3  00fc6685-f53a-49bb-b960-5e0042fd3852               5
4  00fc6685-f53a-49bb-b960-5e0042fd3852               5

In [512]:
f = open("participants.txt")
l5 = [(row.strip("\n").strip(" ")).split("|") for row in f]

In [513]:
participants = pd.DataFrame(columns=['event_id', 'user_id'])
participants

Empty DataFrame
Columns: [event_id, user_id]
Index: []

In [514]:
for row in range(len(l5[2:-2])):
#     print(row+2)
    participants.loc[row] = l5[row+2]

In [515]:
participants.head()

  event_id                                user_id
0   38114    e28351f5-4ccb-4549-8647-d43f2b15e7b8
1   38114    4df2832a-1d63-4453-9659-43993fc35996
2   51568    bb1c0bc8-1212-452b-97a0-439d4a2169e2
3   51568    63441abe-c4da-4275-ba26-66f7dbd65dde
4   52790    a1323b68-c82c-429a-8e2c-65597e648c1a

Для решения задачки нужно сделать следующее:
1. Найти все уроки по физике (subject=phys).

In [516]:
lessons.head()

,id,event_id,subject,scheduled_time
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00
1,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568,it,2020-01-19 13:00:00
2,62e1a078-33de-47c1-99d2-845b1daca56f,52790,hist,2020-01-19 13:00:00
3,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00
4,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00

In [517]:
new_s = [el.strip(" ") for el in lessons["subject"]]

In [518]:
lessons["subject"] = new_s

In [520]:
phys = lessons[lessons["subject"] == "phys"]
phys.head()

,id,event_id,subject,scheduled_time
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00
3,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00
4,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00
6,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00
8,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00

In [521]:
# т.к время нам не понадобится, оставим только число
phys_time = [i.split(" ")[1] for i in phys["scheduled_time"]]

In [522]:
phys["scheduled_time"] = phys_time
phys

C:\Users\Polina\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                        id    event_id subject scheduled_time
0    1e7bb408-cfef-4a9f-8328-351c9483a64c       38114     phys     2020-01-19
3    00fc6685-f53a-49bb-b960-5e0042fd3852       51341     phys     2020-01-17
4    4cadf623-82e6-422f-a342-acf978302fb2       55048     phys     2020-01-19
6    e597a79a-3f68-4d15-bc77-c7000bcf8e52       53026     phys     2020-01-19
8    ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17       51645     phys     2020-01-19
..                                     ...         ...     ...            ...
366  e90f529b-1061-4efd-9bba-f73ecee2ef27       55490     phys     2020-01-19
367  f0002160-e57e-4e90-ac7e-c8fcdbbae26f       41963     phys     2020-01-19
368  8a1bac54-c5c6-47c9-8fdb-36d01384eaae       55881     phys     2020-01-19
369  457accf4-bd99-4b9d-b540-ef200e65afbd       49007     phys     2020-01-19
371  403707fd-b110-4216-b678-6dbc92eb6fad       41964     phys     2020-01-19

[184 rows x 4 columns]

In [523]:
phys_e = [i.strip(" ") for i in phys["event_id"]]
phys["event_id"] = phys_e
phys.head()

C:\Users\Polina\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                      id event_id subject scheduled_time
0  1e7bb408-cfef-4a9f-8328-351c9483a64c     38114    phys     2020-01-19
3  00fc6685-f53a-49bb-b960-5e0042fd3852     51341    phys     2020-01-17
4  4cadf623-82e6-422f-a342-acf978302fb2     55048    phys     2020-01-19
6  e597a79a-3f68-4d15-bc77-c7000bcf8e52     53026    phys     2020-01-19
8  ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17     51645    phys     2020-01-19

2. В каждый день (начало и конец дня считается по московскому времени, то есть UTC+3:00) для каждого репетитора посчитать среднюю арифметическую оценку за его уроки (учитывать только уроки из п. 1). То есть, если учитель проводил в этот день три урока по физике, один из них он оценил на 3, а ученик оценил его на 4, второму уроку оценку поставил только ученик, и эта оценка 5, а третий урок вообще никто не оценил, то средняя арифметическая оценка учителя за уроки = (3 + 4 + 5) / 3 = 4.

In [524]:
participants_e = [i.strip(" ") for i in participants["event_id"]]
participants["event_id"] = participants_e
participants.head()

  event_id                                user_id
0    38114   e28351f5-4ccb-4549-8647-d43f2b15e7b8
1    38114   4df2832a-1d63-4453-9659-43993fc35996
2    51568   bb1c0bc8-1212-452b-97a0-439d4a2169e2
3    51568   63441abe-c4da-4275-ba26-66f7dbd65dde
4    52790   a1323b68-c82c-429a-8e2c-65597e648c1a

In [525]:
participants[participants["event_id"] == "38114"]

    event_id                                user_id
0      38114   e28351f5-4ccb-4549-8647-d43f2b15e7b8
1      38114   4df2832a-1d63-4453-9659-43993fc35996
213    38114   e28351f5-4ccb-4549-8647-d43f2b15e7b8
214    38114   4df2832a-1d63-4453-9659-43993fc35996

In [526]:
phys[phys["event_id"] == "38114"]

                                        id event_id subject scheduled_time
0    1e7bb408-cfef-4a9f-8328-351c9483a64c     38114    phys     2020-01-19
108  2e3b1173-7edb-4737-9500-a23d7b852518     38114    phys     2020-01-12

In [527]:
merged = phys.merge(participants)

In [528]:
merged

,id,event_id,subject,scheduled_time,user_id
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19,e28351f5-4ccb-4549-8647-d43f2b15e7b8
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19,4df2832a-1d63-4453-9659-43993fc35996
2,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19,e28351f5-4ccb-4549-8647-d43f2b15e7b8
3,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19,4df2832a-1d63-4453-9659-43993fc35996
4,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,e28351f5-4ccb-4549-8647-d43f2b15e7b8
...,...,...,...,...,...
482,459ed706-9310-477f-9f51-7a290b28b6a8,53917,phys,2020-01-20,9fb1e9b4-9765-486f-ac51-4444213e39ca
483,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,43efce48-94b2-4412-857f-223d45969008
484,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,b323a494-40c0-4522-8d63-4d4d591a1def
485,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,2020-01-19,c6718d0e-976c-4d6c-b0e0-32c770776567
486,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,2020-01-19,3c94e328-9fb6-44d8-baa8-46a81e214ceb

In [529]:
merged2 = merged.merge(quality, left_on = "id", right_on = "lesson_id")

In [530]:
merged2

,id,event_id,subject,scheduled_time,user_id,lesson_id,tech_quality
0,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5
1,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,4df2832a-1d63-4453-9659-43993fc35996,2e3b1173-7edb-4737-9500-a23d7b852518,5
2,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5
3,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,4df2832a-1d63-4453-9659-43993fc35996,2e3b1173-7edb-4737-9500-a23d7b852518,5
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17,4ab072ed-8a41-4ed6-9877-8f1d1fbb24d2,00fc6685-f53a-49bb-b960-5e0042fd3852,5
...,...,...,...,...,...,...,...
543,459ed706-9310-477f-9f51-7a290b28b6a8,53917,phys,2020-01-20,9fb1e9b4-9765-486f-ac51-4444213e39ca,459ed706-9310-477f-9f51-7a290b28b6a8,5
544,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,43efce48-94b2-4412-857f-223d45969008,e90f529b-1061-4efd-9bba-f73ecee2ef27,5
545,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,43efce48-94b2-4412-857f-223d45969008,e90f529b-1061-4efd-9bba-f73ecee2ef27,4
546,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,5
547,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,4

In [531]:
merged2["tech_quality"] = pd.to_numeric(merged2.tech_quality)

In [532]:
merged_n = [i.strip() for i in merged2["user_id"]]

In [533]:
merged2["user_id"] = merged_n

In [534]:
users_s = [i.strip() for i in users["id"]]

In [535]:
users["id"] = users_s

In [536]:
merged3 = merged2.merge(users, left_on = "user_id", right_on = "id")

In [537]:
merged3

,id_x,event_id,subject,scheduled_time,user_id,lesson_id,tech_quality,id_y,role
0,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,e28351f5-4ccb-4549-8647-d43f2b15e7b8,pupil
1,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,e28351f5-4ccb-4549-8647-d43f2b15e7b8,pupil
2,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,e28351f5-4ccb-4549-8647-d43f2b15e7b8,pupil
3,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,e28351f5-4ccb-4549-8647-d43f2b15e7b8,pupil
4,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,2020-01-12,4df2832a-1d63-4453-9659-43993fc35996,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,4df2832a-1d63-4453-9659-43993fc35996,tutor
...,...,...,...,...,...,...,...,...,...
5837,2f3c2e0a-e188-420e-ae83-8673ea692d66,47780,phys,2020-01-19,7b913e7a-cfb4-4383-93c7-ddccbafc8850,2f3c2e0a-e188-420e-ae83-8673ea692d66,5.0,7b913e7a-cfb4-4383-93c7-ddccbafc8850,pupil
5838,459ed706-9310-477f-9f51-7a290b28b6a8,53917,phys,2020-01-20,9fb1e9b4-9765-486f-ac51-4444213e39ca,459ed706-9310-477f-9f51-7a290b28b6a8,3.0,9fb1e9b4-9765-486f-ac51-4444213e39ca,pupil
5839,459ed706-9310-477f-9f51-7a290b28b6a8,53917,phys,2020-01-20,9fb1e9b4-9765-486f-ac51-4444213e39ca,459ed706-9310-477f-9f51-7a290b28b6a8,5.0,9fb1e9b4-9765-486f-ac51-4444213e39ca,pupil
5840,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,5.0,b323a494-40c0-4522-8d63-4d4d591a1def,pupil
5841,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,4.0,b323a494-40c0-4522-8d63-4d4d591a1def,pupil

In [538]:
from numpy import *

In [539]:
# среднее по урокам
final = merged3.groupby(["id_x", "scheduled_time", "user_id", "role"]).mean().reset_index()

In [540]:
final_r = [i.strip() for i in final["role"]]
final["role"] = final_r

3. Найти учителя, который в этот день имеет самую низкую среднюю арифметическую оценку за уроки (среди всех учителей, проводивших уроки по физике в этот день).

4. Вывести его в формате "<день> <id учителя> <средняя арифметическая оценка>". Оценку можно округлить с точностью до двух знаков после запятой. То есть как-то так:
2020-01-11 73c9af08-8581-430c-a590-9888ab36deb3 3.67
2020-01-12 909c2c8e-c054-4e9f-a51a-50bf5660f364 3.25
...
4. Учитывать нужно только тех учителей, за уроки по физике которых в этот день стоит хотя бы одна оценка. Если у нескольких учителей одна и та же самая оценка, можно вывести любого.
5. Если есть необходимость, предварительно можно предобработать данные (сконвертировав их в csv или загрузив в базу данных) и работать уже с ними.

In [541]:
final2 = final[final["role"] == "tutor"].sort_values("tech_quality")
final2

,id_x,scheduled_time,user_id,role,tech_quality
106,577ae94d-45c8-4804-9a50-40e91048d81d,2020-01-18,43efce48-94b2-4412-857f-223d45969008,tutor,2.0
126,69131767-f538-4305-ad4d-2f854f64e210,2020-01-11,8fe03f08-8581-430c-a590-9888ab36deb3,tutor,3.0
163,aedb6420-b5ad-4126-9590-83830b83245e,2020-01-14,c6718d0e-976c-4d6c-b0e0-32c770776567,tutor,4.0
120,672e3db6-3d46-4995-87f7-aea08252514f,2020-01-18,603b8641-c6f6-4d89-ac89-88e50d45aa0d,tutor,4.0
24,194d6536-8724-4798-98ed-5fa93c51e909,2020-01-16,2fa2ab62-f1b0-4036-872f-bcfd9a8686ff,tutor,4.0
...,...,...,...,...,...
65,3d6329b4-f5f5-4f52-857a-b8ee1222922d,2020-01-12,b37ccae8-fc31-4ad8-8f55-ca855b23fbf6,tutor,5.0
62,3b036097-26ee-4637-9a27-2f59db39a684,2020-01-11,603b8641-c6f6-4d89-ac89-88e50d45aa0d,tutor,5.0
131,6cadb935-594f-407b-b60d-706c0e09d408,2020-01-14,c31d06f1-b667-489f-af70-d2c88402826c,tutor,5.0
246,ffea312b-e74e-434e-ba37-fd53f5dbb9e3,2020-01-19,8fe03f08-8581-430c-a590-9888ab36deb3,tutor,5.0
209,e3b40613-d6ca-41f2-a7b4-d6eabe3247e0,2020-01-18,eb47bfc8-ff11-42cd-a48b-1c88aca067f7,tutor,NaN

In [542]:
del final2["id_x"]
del final2["role"]

In [543]:
final2.head()

    scheduled_time                               user_id  tech_quality
106     2020-01-18  43efce48-94b2-4412-857f-223d45969008           2.0
126     2020-01-11  8fe03f08-8581-430c-a590-9888ab36deb3           3.0
163     2020-01-14  c6718d0e-976c-4d6c-b0e0-32c770776567           4.0
120     2020-01-18  603b8641-c6f6-4d89-ac89-88e50d45aa0d           4.0
24      2020-01-16  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           4.0

In [544]:
final2.groupby("scheduled_time").min()

                                             user_id  tech_quality
scheduled_time
2020-01-11      2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           3.0
2020-01-12      2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           4.5
2020-01-13      2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           5.0
2020-01-14      2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           4.0
2020-01-15      603b8641-c6f6-4d89-ac89-88e50d45aa0d           5.0
2020-01-16      2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           4.0
2020-01-17      30a19496-bdaf-461c-abbc-2709ae520201           4.5
2020-01-18      1c39e78f-6ded-4b2e-83d6-036ca34ecfdc           2.0
2020-01-19      43efce48-94b2-4412-857f-223d45969008           4.5
2020-01-20      2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           4.0